* {
    padding: 0;
    margin: 0;
}
#section1 {
    background-size: cover; 
    background-repeat: no-repeat;
    height: 500px;
}
.images2 {
    width: 300px;
    height: auto;
    
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.box {
    
    border-radius: 12px;
    box-shadow: 5px 5px 1px #DAA520;
}
.links > li > a {
    text-decoration: none;
    color: white;
}
.links > li > a:hover {
    color: #DAA520;
}
.copy {
    text-decoration: none;
    color: #DAA520;
}
.copy:hover {
    color: white;
}